name: ML Catalog Bot

on:
  workflow_dispatch:
  schedule:
    - cron: "0 6 * * *"

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Debug workspace
        run: |
          echo "PWD:"
          pwd
          echo ""
          echo "LS:"
          ls -la
          echo ""
          echo "Node version:"
          node -v

      - name: Run script
        run: node script.js
